@import "vars"

@media only screen and (max-width: 1200px)
	.news__text
		height: calc(100% - 188px)

@media only screen and (max-width: 991px)
	.header
		.main-nav__items, .header__category-items
			display: none

	.hamburger
		display: block

	#left-menu
		display: block

	.header__top-wrapper
		position: relative
		padding-left: 39px

	.header__category-search-btn
		display: none

	.header__category
		padding-bottom: 25px

	.header__category-search-form
		position: relative
		width: 100%
		.header__category-search-btn
			display: block

	.header__category-search-input
		font-size: 11px

	.header__category-search-close
		display: none

	.header__category-wrapper
		padding: 0

	.main-slider__header
		font-size: 38px

	.main-slider__item
		padding-top: 150px
		padding-bottom: 150px

	.news__bottom
		padding: 0 20px
		padding-top: 17px

	.news__link
		font-size: 16px

	.news__wrapper2
		padding: 10px 25px

	.news__btn
		padding: 2px 23px

	.wrapper-filter
		display: none
		padding-left: 20px
		width: 100%
		box-shadow: 10px 10px 17px -4px rgba(0,0,0,0.2)
		position: absolute
		left: 0
		z-index: 200
		background-color: #fff

	.category__top
		margin-bottom: 35px

	.btn-filter
		display: inline-block

	.category__mosaic-list
		margin-left: 2px

	.product__wrapper
		.sp-wrap
			float: none

	.product
		padding-right: 0
		margin-bottom: 30px
		.sp-wrap
			max-width: none
			width: 100%
			text-align: center
			padding-left: 0
			max-height: none
		.sp-large
			border-left: none
		.sp-thumbs
			position: static
			a
				display: inline-block!important

	.wrap-product
		padding: 0 15px

	.product__advantages
		display: block

	.product__advantages-item
		padding: 15px

	.product__video
		text-align: center
		margin-top: 30px

	.product__main
		padding-bottom: 30px

	.carousel .owl-prev
		left: -5px

	.carousel .owl-next
		right: -5px

	.carousel .card
		width: auto!important

	.btn-cart
		font-size: 14px
		padding: 8px 31px

	.cart-info
		width: 34%

	.subscribe__h3
		margin-bottom: 23px

	.subscribe__form
		display: block

	.subscribe__contact-wrapper
		display: block

	.btn-subscribe-link
		margin: 0
		margin-top: 10px

	.person__menu-wrapper
		position: relative
		border-top: 1px solid $border_color
		border-bottom: 1px solid $border_color
		height: 35px
		padding: 9px 0

	.pearson__menu-items
		display: none
		position: absolute
		top: 33px
		left: 0
		right: 0
		z-index: 100
		background-color: #fff

	.order__items
		border-top: none

	.pearson__menu-link
		padding: 14px 10px

	.person__menu-toggle
		span, &:before, &:after
			background-color: $black

	.news_h1 span
		display: none

	.news_h1
		margin-top: 10px

	.profile-form
		margin: 0
		margin-top: 35px
		width: 100%
		max-width: none
			
	.pays-index
		margin-top: 25px

	.addresses-form
		margin-top: 25px

	.addresses-form
		margin-bottom: 0!important

	.error-404__text
		top: 17px


@media only screen and (max-width: 767px)
	.main-slider__item
		padding-top: 100px
		padding-bottom: 100px

	.main-slider__header
		font-size: 32px

	.news__item
		width: 50%

	.news__text
		position: relative
		&:after
			content: ""
			display: block
			left: 0
			right: 0
			height: 20px
			position: absolute
			background: linear-gradient(to top, #fff, rgba(#fff, 0));
			bottom: 0

	.main-nav__link
		border: none

	.category__mosaic-list
		display: none

	.category__sort .dropdown-toggle
		padding: 9px 0

	.category__mosaic
		margin-top: 7px

	.card
		width: calc(100% / 2 - 24px)!important

	.top5__item
		.card
			width: 100%!important

	.category__pagination
		display: block
		text-align: center
		padding: 0
		.pagination
			margin-top: 15px

	.category__pagination-text
		display: block

	.news-index
		.category__pagination
			margin-top: 25px

	.carousel__h2 span
		display: none

	.carousel__h2
		margin: 25px 0

	.cart-sizes
		width: 100%
		margin: 25px 0

	.card-remove
		top: 22px
		bottom: auto

	.cart-info
		width: calc(100% - 180px)

	.top5__items
		display: block

	.top5__item
		width: 50%
		margin: 0 auto
		.card
			width: 100%
			img
				width: 100%

	.top5__top5__double-item
		width: 100%
		display: flex
		.top5__item
			width: 50%
			position: static
			border: none
			display: flex
			.card
				height: auto
			.card__bottom
				position: relative
				background: none

	.subscribe
		text-align: center
		padding-top: 20px
		&:before
			background-color: rgba($accent_color, .9)
			width: 100%

	.btn-subscribe-link
		border: 1px solid #fff

	.subscribe__h3
		margin-bottom: 12px
		margin-top: 30px

	.error-404__text
		position: static
		margin-bottom: 20px

	.error-404__text1
		font-size: 28px

	.error-404__text2
		font-size: 18px

@media only screen and (max-width: 480px)
	.type-size__input
		width: 100%

	.product__size-top
		width: 100%

	.main-slider__item
		padding-top: 50px
		padding-bottom: 70px

	.main-slider__header
		font-size: 24px

	.main-slider__text
		margin: 21px 0

	.news__item
		width: 100%

	.card
		width: 100%!important
		margin: 25px 0
		&:first-child
			margin-top: 0

	.category_list
		margin: 0
		display: block

	.news-view__h1
		font-size: 18px

	.news-widget
		margin: 0

	.news-header
		h4
			font-size: 18px

	.news-header span
		display: none

	.product__price-value
		display: block

	.product__price-old
		margin-left: 0

	.product__h1
		padding-top: 17px
		padding-bottom: 7px
		font-size: 22px

	.product__info
		span
			white-space: nowrap

	.container_size
		text-align: center

	.number__form-control
		margin: 0 10px
		margin-top: 7px
		&:last-child
			margin: 0 10px
			margin-top: 7px

	.product__btn-in-bag
		margin: 0 auto

	.product__advantages-item
		padding: 10px

	.cart-info
		display: block
		width: 100%
		padding: 0
		margin: 15px 0

	.cart-sizes
		margin-top: 5px
		margin-bottom: 10px
		.size-form
			margin: 0 -10px

	.cart-item
		padding-bottom: 20px

	.cart-bottom
		display: block
		padding: 8px 0

	.btn-cart_grey
		margin: 0
		margin-bottom: 15px

	.top5__item
		width: 100%
	.top5__top5__double-item
		display: block
		.top5__item
			width: 100%

	.subscribe
		padding-top: 5px
		padding-bottom: 35px

	.subscribe__h3
		font-size: 20px

	.dropdown-currency .dropdown-menu a, .dropdown-currency a
		padding: 0 4px

	.header__link
		width: 48px

	.main-form
		padding: 10px

	.checkout__item
		display: block

	.checkout__photo
		position: static
		display: block

	.checkout__wrapper
		width: 100%
		padding-left: 0

	.checkout__link
		margin-top: 5px

	.checkout__sizes
		text-align: left

	.checkout__price
		margin-top: 10px
		padding: 0
		text-align: right

	.main-form
		margin-bottom: 50px

	.order__item
		padding: 15px 0

	.multiple-input-list__item
		border-bottom: 1px solid $border_color
		display: block
		margin-bottom: 15px
		td
			display: inline-block
			padding-left: 0!important
			width: 100%

	.cookie
		padding: 12px

	#contact_btn
		right: 15px

