@import "bourbon";
@import "fonts";
@import "vars";

*
	margin: 0
	padding: 0
	font-family: $default-font
	font-size: 14px

a, button
	&:hover, &:focus, &:active
		text-decoration: none
		outline: none
		color: inherit

ul li
	list-style: none

input
	&:focus
		outline: none

html, body
	height: 100%

.btn
	&:hover, &:active, &:focus
		outline: none!important
		box-shadow: none

.wrapper
	display: flex
	flex-direction: column
	height: 100%

.content
	flex: 1 0 auto

.header
	padding-top: 50px
	position: relative

.header__top
	background-color: $header_bg
	box-shadow: 0px 10px 17px -4px rgba(0,0,0,0.2)
	color: $white
	position: fixed
	top: 0
	width: 100%
	z-index: 499

.header__top-wrapper
	min-height: 50px
	display: flex
	justify-content: space-between
	align-items: center

.dropdown-languages, .dropdown-currency
	text-transform: uppercase
	border-left: 1px solid #fff
	border-right: 1px solid #fff
	display: inline-block
	a, .dropdown-menu a
		color: $white
		font-weight: 500
		height: 50px
		line-height: 50px
		padding: 0
		width: 48px
		display: block
		text-align: center
		transition: color .3s
		&:hover
			color: #fff
			background: none
	.dropdown-menu
		background-color: $header_bg
		min-width: auto
		border: none
		border-left: 1px solid #fff
		border-right: 1px solid #fff
		border-radius: 0
		top: 100%
		padding: 0
		margin: 0
		box-shadow: none
		left: -1px

.dropdown-currency
	border: none
	a, .dropdown-menu a
		color: #fff
		width: auto
		padding: 0 8px
	.dropdown-menu
		// padding: 0 8px

.header__dropdowns
	font-size: 0

.main-nav__items
	margin: 0

.main-nav__item
	display: inline-block
	&:last-child
		.main-nav__link
			border-right: none

.main-nav__link
	color: $accent_color
	padding: 0 24px
	border-right: 1px solid $accent_color
	font-size: 12px
	transition: color .3s
	&:hover
		color: $white

.header__top-right
	line-height: 0
	font-size: 0

.header__link
	width: 50px
	height: 50px
	background-position: center
	background-repeat: no-repeat
	display: inline-block
	&:hover
		background-color: $accent_color

.header__wishlist-link
	background-size: 15px
	background-image: url(/img/icon/heart.svg)

.header__cart-link
	background-size: 18px
	background-image: url(/img/icon/basket.svg)
	background-color: $accent_color
	vertical-align: top
	color: #fff
	line-height: 50px
	font-size: 15px
	text-align: center
	&:hover
		color: #fff

.header__user-dropdown
	display: inline-block
	.dropdown-menu
		margin: 0
		right: 0
		left: auto
		border-radius: 0
		border: none

.header__user-link
	background-size: 18px
	background-color: transparent
	border: none
	background-image: url(/img/icon/user.svg)

.logo
	background-image: url(/img/icon/logo.svg)
	background-size: cover
	display: block
	width: 135px
	height: 98px
	margin: 30px auto

.header__category
	border-bottom: 1px solid #000
	padding-bottom: 33px

.header__category-items
	display: flex
	justify-content: space-between
	align-items: center
	position: relative

.header__category-item
	&.active
		.header__category-link
			color: $accent_color
			border-bottom: 1px solid $accent_color

.header__category-link
	color: #000
	font-weight: 500
	padding-bottom: 34px
	border-bottom: 1px solid #000
	transition: color .3s, border .3s
	cursor: pointer
	&:hover
		color: darken($accent_color, 40%)
		border-bottom: 1px solid $accent_color

.header__category-dot
	width: 3px
	height: 3px
	background-color: #000

.header__category-search
	line-height: 0

.header__category-search-btn
	background: none
	background-image: url(/img/icon/search.svg)
	width: 17px
	height: 16px
	background-size: cover
	border: none
	position: absolute
	right: 15px
	top: 2px

.footer
	height: auto
	flex: 0 0 auto
	border: none
	background-color: #000
	padding-top: 10px
	padding-bottom: 60px

.logo-white
	background-image: url(/img/icon/logo_white.svg)

.footer__social
	text-align: center

.footer__social-item
	display: inline-block
	margin: 0 15px

.footer__social-link
	display: inline-block
	width: 18px
	height: 18px

.footer__social-img
	width: 100%

.footer__menu
	text-align: center
	margin-top: 55px

.breadcrumb
	background: none
	text-align: center
	padding: 30px 0
	margin: 0
	*
		font-size: 12px
	li
		&.active
			color: $grey
		a
			color: $black
	& > li + li:before
		content: "|"
		color: $black
		padding: 0 15px
		font-size: 14px

.product
	border: 1px solid $border_color

.product__h1
	font-size: 24px
	font-weight: bold
	color: $grey
	padding-top: 30px
	margin: 0

.product__info
	span
		font-size: 12px
		font-weight: 300
		color: $black
		&:after
			content: "|"
			display: inline-block
			margin: 0 17px
		&:last-child
			&:after
				display: none

.product__not-available
	margin: 20px 0
	font-size: 16px
	color: $grey

.product
	margin-bottom: 15px
	padding-right: 28px
	.sp-wrap
		max-width: none
		border: none
		padding-left: 89px
		overflow: hidden
		border-radius: 0
		margin: 0
		max-height: 694px
	.sp-large
		border-left: 1px solid $border_color
	.sp-thumbs
		position: absolute
		top: 0
		left: 0
		a
			display: block!important
			width: 89px!important
			height: 139px!important
			border-bottom: 1px solid $border_color
	.sp-thumbs a:link, .sp-thumbs a:visited
		opacity: .7
	.sp-thumbs a:hover
		opacity: 1

.product__price
	margin-top: 12px
   padding-bottom: 15px

.product__shipping
  margin-top: 10px
  padding-bottom: 5px
  border-bottom: 1px solid $border_color
  p
    color: $grey
    font-weight: bold
    &:before
      content: ""
      display: inline-block
      width: 40px
      height: 25px
      vertical-align: middle
      background-image: url(/img/icon/delivery.svg)
      background-repeat: no-repeat
      margin-right: 8px
      margin-top: -3px


.product__price-value
	font-weight: bold
	font-size: 24px
	white-space: nowrap

.product__price-old
	margin-left: 30px
	color: $grey
	font-size: 18px
	text-decoration: line-through

.product__date-finish
	color: $grey
	font-weight: bold
	font-size: 18px
	float: right
	span
		font-size: 24px
		color: $black

.product__colors
	padding: 15px 0
	padding-bottom: 20px
	border-bottom: 1px solid $border_color
	label
		font-size: 16px
		font-weight: normal

.color-list
	margin: 0
	margin-top: -10px

.color-item
	display: inline-block
	margin-top: 18px
	margin-right: 18px
	//position: relative
	span
		display: inline-block
		width: 30px
		height: 30px
	&:last-child
		margin-right: 0
	&.active
		span
			box-shadow: 0px 0px 15px 2px rgba(#000, .25)
	&:hover
		span
			box-shadow: 0px 0px 15px 2px rgba(#000, .25)
		.color-name
			display: block

.color-link
	display: block
	height: 100%

.color-name
	position: absolute
	//left: 0
	//right: 0
	//bottom: -15px
	//margin: 0 auto
	//text-align: center
	//z-index: 50
	color: $grey
	font-size: 12px
	display: none

.product__size
	padding: 15px 0
	padding-bottom: 20px
	label
		font-size: 16px
		font-weight: normal
		margin: 0
		margin-right: 80px

.number__form-control
	border: 1px solid $border_color
	width: 80px
	height: 33px
	color: $black
	font-size: 0
	position: relative
	display: inline-block
	margin-right: 18px
	&:last-child
		margin-right: 0
	label
		font-weight: normal
		vertical-align: top
		text-align: center
		font-size: 14px
		line-height: 29px
		display: inline-block
		width: 29px
		height: 100%
		background-color: $border_color
		margin: 0
		& + input[type="number"]
			width: 49px
	input[type="number"]
		display: inline-block
		width: 100%
		height: 100%
		border: none
		font-size: 14px
		text-align: center
		padding-right: 17px
		padding-left: 3px
		&:focus
			outline: none

input[type=number]
	-moz-appearance: textfield
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;

.arrow-btn
	position: absolute
	right: 0
	top: 0
	width: 14px
	height: 100%
	z-index: 100

.arrow-btn__min, .arrow-btn__max
	display: block
	background: none
	border: none
	color: $grey
	padding: 0
	height: 50%
	font-size: 15px
	line-height: 50%

.size__link
	border: none
	background: none
	font-size: 16px
	text-decoration: underline
	&:hover
		text-decoration: underline

.modal
	text-align: center
	&:before
		content: " "
		display: inline-block
		vertical-align: middle
		height: 100%

.modal-dialog
	display: inline-block
	text-align: left
	vertical-align: middle

.modal-content
	border-radius: 0
	border: none

.modal-header
	font-size: 16px
	text-align: center
	font-weight: 500
	padding-top: 34px
	border: none
	.close
		margin-top: -20px
		font-size: 32px
		font-weight: normal

.modal-backdrop
	background-color: #fff

.size__table
	text-align: center
	thead
		background-color: $accent_color
		td
			padding: 8px!important
	& > thead > tr > th, & > tbody > tr > th, & > tfoot > tr > th, & > thead > tr > td, & > tbody > tr > td, & > tfoot > tr > td


.product__size-top
	display: flex
	justify-content: space-between
	width: 285px
	margin-bottom: 10px
	.size__link
        display: inline-block

.product__size-all
	margin-top: 25px
	position: relative
	display: inline-block
	label
		margin-right: 12px
	&:hover
		.product__size-note
			display: block

.product__size-note, .product__cart-note
	position: absolute
	bottom: 37px
	z-index: 100
	background-color: #fff
	padding: 15px
	border: 1px solid $accent_color
	max-width: 180px
	box-shadow: 0px 0px 20px 2px rgba(#000, .35)
	display: none
	span
		color: $grey

.product__warning
	margin-top: 20px
	padding-left: 20px
	position: relative
	font-weight: 300
	&:before
		content: "!"
		font-weight: 900
		font-size: 40px
		color: $accent_color
		position: absolute
		left: 0
		line-height: 40px

.product__btn-line
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	margin-top: 20px
	position: relative

.product__btn
	border: none
	border-radius: 0
	padding-left: 15px
	height: 40px
	font-size: 14px
	vertical-align: middle
	margin-top: 15px
	&:after
		content: ""
		display: inline-block
		width: 40px
		height: 100%
		margin-left: 10px
		border-left: 1px solid #fff
		vertical-align: middle
		background-position: center
		background-repeat: no-repeat

.product__btn-in-bag
	background-color: $accent_color
	color: $black
	&:after
		background-image: url(/img/icon/basket.svg)
		background-size: 18px
		background-position-y: 10px
	&:hover, &:focus
		color: $black


.product__btn-order
	background-color: $grey
	color: #fff
	&:after
		background-image: url(/img/icon/dressmaker.svg)
		background-size: 18px
	&:hover, &:focus
		color: #fff

.product__btn-constructor
	background-color: $black
	color: #fff
	&:after
		background-image: url(/img/icon/mannequin.svg)
		background-size: 13px
	&:hover, &:focus
		color: #fff

.product__advantages
	display: flex
	border: 1px solid $border-color
	margin: 0

.product__advantages-item
	padding: 23px
	border-right: 1px solid $border-color
	flex-grow: 1
	display: flex
	&:last-child
		border: none
	&:before
		content: ""
		display: inline-block
		height: 70px
		vertical-align: top
		background-repeat: no-repeat
	label
		font-weight: bold
		font-size: 18px
	p
		color: $grey
		font-size: 12px
		font-weight: 300
	&:nth-of-type(1)
		&:before
			background-image: url(/img/icon/delivery.svg)
			width: 115px
	&:nth-of-type(2)
		&:before
			background-image: url(/img/icon/order.svg)
			width: 75px
	&:nth-of-type(3)
		&:before
			background-image: url(/img/icon/dress.svg)
			width: 71px

.product__advantages-item-wrapper
	margin-top: 6px
	margin-left: 20px

.product__main
	margin-top: 45px
	padding-bottom: 50px

.product__tabs
	display: flex
	border-bottom: 1px solid $border_color
	.product__tab
		flex-grow: 1
		&.active
			a
				color: $black!important
				border-bottom: 1px solid $black!important
				&:hover
					color: $black
		a
			color: $grey
			font-size: 16px
			padding: 0
			padding-bottom: 20px
			border: none!important
			border-bottom: 1px solid transparent
			&:hover
				background: none
				border-color: transparent

.product__tab-content
	padding-top: 30px

.product__category-link
	color: $black
	&:hover
		color: $grey
		text-decoration: underline

.category__top
	border-top: 1px solid $border_color
	border-bottom: 1px solid $border_color
	margin-bottom: 50px

.category__sort
	border-right: 1px solid $border_color
	.dropdown-toggle
		padding: 13px 0
		display: block
		font-size: 12px
		font-weight: 300
		color: $black
		vertical-align: middle
		padding-right: 20px
		&:after
			content: "→"
			font-size: 20px
			line-height: 15px
			vertical-align: middle
			position: absolute
			right: 17px
	.dropdown-menu
		width: 100%
		border-radius: 0
		border: 1px solid $border_color
		top: 96%
		a
			font-size: 12px
			font-weight: 300
			color: $black
			padding: 5px 20px
			&:hover
				background-color: $accent_color

.card
	width: calc(100% / 3 - 24px)
	border: 1px solid $border_color
	margin: 0 12px
	margin-bottom: 21px
	img
		max-width: 100%

.card__link
	color: $grey
	font-weight: bold
	font-size: 14px
	&:hover
		color: $grey

.category_list
	margin: 0 -12px
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	&:after
		content: ""
		flex: auto

.category__mosaic
	text-align: right
	margin-top: 10px
	span
		font-size: 12px
		color: $black
		font-weight: 300
		vertical-align: middle

.category__mosaic-list
	list-style: none
	display: inline-block
	vertical-align: middle
	margin: 0
	vertical-align: middle
	height: 16px
	margin-left: 15px
	li
		display: inline-block
		margin-left: 10px
		height: 16px
		&:nth-of-type(1)
			.category__mosaic-btn
				background-image: url(/img/icon/3item_.svg)
		&:nth-of-type(2)
			.category__mosaic-btn
				background-image: url(/img/icon/2item_.svg)

.category__mosaic-btn
	width: 16px
	height: 16px
	border: none
	background: none
	background-repeat: no-repeat

.card
	position: relative
	display: flex
	flex-direction: column

.card__bottom
	position: relative
	padding: 7px 10px
	padding-right: 50px
	flex-grow: 1

.card__price
	margin-top: 6px

.card__price-value
	font-weight: bold
	color: $black

.card__price-old
	text-decoration: line-through
	font-size: 12px
	margin-left: 5px

.card__btn-backet
	position: absolute
	right: 0
	top: 0
	display: block
	width: 40px
	height: 100%
	border-left: 1px solid $border_color
	background-image: url(/img/icon/basket.svg)
	background-repeat: no-repeat
	background-size: 21px
	background-position: center

.card-wishlist
	color: #fff
	border: none
	background: none
	position: absolute
	top: 10px
	right: 13px
	font-size: 20px
	z-index: 15
	&:hover, &:active, &:focus
		color: #fff

.card__sale
	font-size: 12px
	position: absolute
	top: 13px
	right: 40px
	background-color: $black
	color: #fff
	border-radius: 30px
	padding: 2px 8px

.category__pagination
	display: flex
	justify-content: space-between
	padding: 20px 0
	.pagination
		margin: 0
	li
		a
			background: none!important
			border: none!important
			color: $black!important
			padding: 0 8px
		&.active
			a
				color: $grey!important
		&.prev, &.next
			span
				padding: 0 8px
				border: none!important

.category__pagination-text
	color: $grey

.check
	position: relative
	margin-top: 5px
	label
		margin: 0
		color: $grey
		font-weight: normal
	input
		margin: 0
		opacity: 0
		margin-right: 8px
		&:checked + .check__wrapper
			&:before
				content: ""
				display: block
				width: 9px
				height: 9px
				background-color: $accent_color
				margin-top: 2px
				margin-left: 2px

.check__wrapper
	width: 15px
	height: 15px
	border: 1px solid $checkbox
	position: absolute
	left: 0
	top: 2px
	bottom: 0
	margin: auto 0

.filter__name
	font-size: 14px
	color: $black
	padding-bottom: 10px

.filter
	margin-bottom: 40px

#loader
	display: none
	position: fixed
	width: 100%
	height: 5px
	background-color: lighten($accent_color, 7%)
	z-index: 10000
	top: 48px
	overflow: hidden
	.range
		position: absolute
		width: 30%
		height: 100%
		background-color: darken($accent_color, 5%)
		animation: loader 2s infinite linear

@keyframes loader
	0%
		left: -30%
	100%
		left: 100%

.range
	width: 188px
	margin-bottom: 40px
	.slider
		width: 100%
	.slider-track
		height: 5px!important
		margin-top: -2.5px!important
	.slider-selection
		background-color: $accent_color!important
		border: none!important
		box-shadow: none
		border-radius: 0!important
	.slider-track-low, .slider-track-high
		background-color: $border_color!important
		border-radius: 0!important
	.slider-handle
		height: 21px
		width: 2px
		border-radius: 0
		box-shadow: none
		background-color: $accent_color!important
		background-image: none
		margin-left: 0!important
	.form-control
		display: none

.range__wrapper
	display: flex
	justify-content: space-between
	align-items: center
	margin-top: 10px
	margin-bottom: 17px

.range__input
	display: inline-block
	width: 42%
	border: 1px solid $border_color
	color: $black
	font-size: 14px
	padding: 3px 9px

.range__input-min
	margin-right: 5px

.range__input-max
	margin-left: 5px

.range__btn
	border: 1px solid $border_color
	background: none
	margin-left: 10px
	padding: 3px
	color: $black

.carousel__h2
	position: relative
	text-align: center
	text-transform: uppercase
	margin: 48px 0
	h2
		font-family: "playfairdisplaysc", sans-serif
		font-size: 24px
		position: relative
		z-index: 10
		margin: 0
	span
		font-family: "playfairdisplaysc", sans-serif
		position: absolute
		color: #fafafa
		font-size: 48px
		left: 0
		right: 0
		bottom: -10px
		margin: 0 auto

.carousel
	margin-bottom: 40px
	.card
		width: 100%
		margin: 0
	.owl-prev, .owl-next
		position: absolute
		top: 39%
		width: 48px
		height: 48px
		border-radius: 48px
		background-color: #fff!important
		box-shadow: 0px 0px 40px -8px rgba(#000, .75)
		font-size: 24px!important
	.owl-prev
		left: -24px
	.owl-next
		right: -24px

.header__category-search-form
	width: 0
	overflow: hidden
	background-color: rgba(#fff, .95)
	position: absolute
	top: -7.5px
	right: 0
	box-shadow: 0px 0px 40px -8px rgba(#000, .35)
	z-index: 100
	&.active
		animation: search .3s linear forwards
		padding-right: 30px
		padding-left: 23px
	&.no-active
		animation: no-search .3s linear forwards
	.header__category-search-btn
		position: absolute
		right: 15px
		top: 0
		bottom: 0
		margin: auto 0
		z-index: 50

@keyframes search
	0%
		width: 0
	100%
		width: 100%

@keyframes no-search
	0%
		width: 100%
	100%
		width: 0

.header__category-search-input
	border: none
	padding: 8px 15px
	width: 100%

.header__category-search-close
	position: absolute
	left: 8px
	top: 0
	bottom: 0
	margin: auto 0
	z-index: 100
	background: none
	border: none
	font-size: 22px
	font-weight: 200

.search-page
	margin-bottom: 50px

.search-page__h1
	margin: 0
	margin-top: 10px
	margin-bottom: 25px
	font-size: 24px
	&:before
		content: "«"
		color: $grey
	&:after
		content: "»"
		color: $grey

.search-page__count
	color: $grey

.main-slider
	position: relative
	.owl-dots
		position: absolute
		bottom: 38px
		left: 0
		right: 0
		text-align: center
		.owl-dot
			span
				display: inline-block
				height: 11px
				width: 11px
				border-radius: 11px
				background-color: $black
				background-clip: padding-box;
				border: 2px solid transparent
				margin: 0 2px
			&.active
				span
					background-color: transparent
					border: 2px solid $black

.main-slider__item
	position: relative
	padding-top: 200px
	padding-bottom: 170px
	width: 100%
	//&:before
	//	content: ""
	//	display: block
	//	position: absolute
	//	left: 0
	//	top: 0
	//	right: 0
	//	bottom: 0
	//	background-color: rgba(#000, .3)
	//	z-index: 2

.main-slider__img
	position: absolute
	z-index: 1
	left: 0
	top: 0
	right: 0
	bottom: 0
	object-fit: cover
	width: 100%
	height: 100%

.main-slider__wrapper
	position: relative
	z-index: 3
	text-align: center

.main-slider__header
	text-transform: uppercase
	font-size: 48px
	color: #fff
	font-family: "playfairdisplaysc", sans-serif

.main-slider__text
	font-size: 16px
	color: #fff
	max-width: 535px
	margin: 30px auto
	&:before
		content: ""
		display: block
		width: 165px
		height: 1px
		background-color: $black
		margin: 0 auto
		margin-bottom: 15px

.main-slider__link
	text-transform: uppercase
	color: #fee9e4
	font-weight: 500
	border: 3px solid #fee9e4
	padding: 4px 18px
	border-radius: 33px
	&:after
		content: "→"
		display: inline-block
		margin-left: 15px
	&:hover
		color: #fee9e4
		box-shadow: 0px 0px 20px 2px rgba(#000, .3)

.main-form
	border: 1px solid $border-color
	padding: 33px
	text-align: center
	max-width: 630px
	margin: 0 auto
	margin-bottom: 100px

.main-form__h1
	font-size: 18px
	color: $black
	margin: 0
	margin-bottom: 33px

.form-control
	border: 1px solid $grey
	height: 33px
	border-radius: 33px
	padding: 4px 30px

.main-form__btn, .site-login__btn
	width: 100%
	margin-top: 10px
	&:after
		content: "→"
		display: inline-block
		margin-left: 15px
		font-size: 22px
		line-height: 10px
	&:focus, &:active
		outline: none!important
		box-shadow: none
		border: none

.btn
	text-transform: uppercase
	height: 33px
	background-color: $accent_color
	border-radius: 33px
	font-weight: 500

.signup-terms-text
	color: $grey
	margin-top: 25px
	a
		color: $grey
		text-decoration: underline

.alert
	border: 2px solid $accent_color
	border-radius: 0
	background: none
	margin-top: 10px
	margin-bottom: 0
	text-align: center

#modal-login
	.modal-content
		border: 5px solid $accent_color
	.modal-body
		padding: 28px
		padding-top: 20px
	.modal-header
		padding: 0
	.modal-title
		font-size: 24px
		color: $black
		font-family: "playfairdisplaysc", sans-serif
		text-transform: uppercase
		padding-top: 30px
		span
			display: block
			font-family: "playfairdisplaysc", sans-serif
			font-size: 18px
	.close
		top: 25px
		right: 10px
		position: absolute
		span
			font-size: 32px
			font-weight: normal

.login-terms-text
	color: $grey
	margin-top: 20px
	p
		margin: 5px
	a
		color: #337ab7
		text-decoration: underline

.header__user-dropdown
	.dropdown-menu
		background-color: $header_bg
		border: 1px solid #fff
		border-top: none
		a
			color: #fff
			padding: 7px 20px
			&:hover, &:focus, &:active
				color: $accent_color
				background: none

#modal-login
	.auth-clients
		text-align: center
		li
			float: none
			display: inline-block
			margin: 0 15px

.modal-login__or
	font-weight: bold
	text-align: center
	display: flex
	justify-content: space-between
	align-items: center
	text-transform: uppercase
	margin-bottom: 24px
	&:before, &:after
		content: ""
		display: inline-block
		height: 1px
		background-color: $border_color
		flex-grow: 1
	&:before
		margin-right: 7px
	&:after
		margin-left: 7px

.cart-item
	padding: 27px 0
	border-bottom: 1px solid $border-color
	position: relative

.cart-photo
	width: 150px
	border: 1px solid $border-color

.cart-info
	padding: 0 15px
	width: 45%
	display: inline-block
	vertical-align: top

.cart-article
	font-size: 12px
	color: $grey
	margin-top: 2px

.card-price
	font-weight: bold
	font-size: 16px
	margin-top: 10px

.cart-sizes
	width: 250px
	display: inline-block
	vertical-align: top
	form
		margin-top: -7px

.cart-total
	font-weight: bold
	font-size: 16px
	display: inline-block
	vertical-align: top
	float: right

.total-label
	display: block
	text-align: right
	color: $grey
	font-weight: 300
	margin-bottom: 10px

.card-remove
	color: $grey
	font-size: 24px
	position: absolute
	right: 0
	bottom: 20px

#modal-cart
	.modal-header
		padding-top: 20px
		padding-bottom: 10px
	.modal-content
		text-align: center
	.btn
		width: 100%
		margin: 5px 0
		color: $black
		&:hover, &:focus
			color: $black

.btn-close
	background: none
	border: 2px solid $accent_color

.modal-cart-img
	img
		width: 200px

.modal-cart-name
	font-size: 14px
	font-weight: bold
	margin-top: 15px

.cart-bottom__total
	font-weight: bold
	text-transform: uppercase
	font-size: 16px
	span
		font-size: 16px
		margin-left: 10px

.cart-bottom
	text-align: right
	padding: 30px 0
	display: flex
	justify-content: space-between
	align-items: flex-end

.btn-cart
	color: $black
	background-color: $accent_color
	font-size: 16px
	padding: 14px 50px
	display: inline-block
	margin-top: 15px
	cursor: pointer

.btn-cart_grey
	background-color: $grey
	color: #fff
	&:hover
		color: #fff

.cart-index
	padding-bottom: 50px

.whishlist-success
	display: none
	background-color: #fff
	box-shadow: 0 0 40px -8px rgba(0,0,0,.65)
	width: 85%
	padding: 15px
	text-align: center
	position: absolute
	left: 0
	top: 55px
	right: 0
	margin: auto
	z-index: 10

.product__wrapper
	position: relative

.product__default
	width: 100%

.page-index__h1
	text-align: center
	font-size: 18px
	color: $black
	margin: 0
	margin-bottom: 25px

.page-index
	padding-bottom: 70px
	img
		max-width: 90%
		height: auto!important

.news_h1
	position: relative
	text-align: center
	text-transform: uppercase
	margin: 30px 0
	h1
		font-family: "playfairdisplaysc", sans-serif
		font-size: 24px
		position: relative
		z-index: 10
		margin: 0
	span
		font-family: "playfairdisplaysc", sans-serif
		position: absolute
		color: #fafafa
		font-size: 48px
		left: 0
		right: 0
		bottom: -10px
		margin: 0 auto

.news__items
	display: flex
	flex-wrap: wrap

.news__item
	border: 1px solid $checkbox
	width: calc(100% / 3)
	text-align: center
	position: relative
	padding-bottom: 55px
	&:hover
		box-shadow: 0px 0px 15px 2px rgba(#000, .25)
		.news__wrapper2
			display: block

.news__img
	width: 100%
	border-bottom: 1px solid $checkbox

.news__bottom
	padding: 0 36px
	padding-top: 30px

.news__link
	font-weight: 500
	font-size: 18px
	color: $black
	display: block

.news__date
	color: #bdbdbd
	font-size: 13px
	vertical-align: middle
	position: absolute
	bottom: 25px
	left: 0
	right: 0
	&:before
		content: ""
		margin-right: 15px
		display: inline-block
		width: 14px
		height: 14px
		background-image: url(/img/icon/date.svg)
		vertical-align: middle

.news-index
	margin-bottom: 55px


.news__wrapper2
	display: none
	position: absolute
	top: 0
	left: 0
	right: 0
	background-color: #fff
	padding: 35px 25px
	padding-bottom: 15px
	height: calc(100% - 55px)
	height: 100%

.news__text
	margin-top: 20px
	text-align: justify
	font-weight: 300
	color: $black
	font-size: 16px
	height: calc(100% - 195px)
	overflow: hidden
	&:after
		content: ""
		display: inline-block
		width: 100%
	p
		margin: 0

.news__btn
	display: inline-block
	border: 2px solid $accent_color
	padding: 5px 29px
	border-radius: 25px
	color: $accent_color
	text-transform: uppercase
	margin-top: 25px
	&:after
		content: "→"
		display: inline-block
		margin-left: 15px
	&:hover, &:active, &:focus
		color: $accent_color

.news-view__img
	width: 100%
	border: 1px solid $border-color

.news-view__h1
	color: $black
	text-align: center
	font-size: 24px
	margin-top: 30px

.news-view__date
	text-align: center
	color: #bdbdbd
	font-size: 13px
	vertical-align: middle
	margin-top: 20px
	margin-bottom: 30px
	&:before
		content: ""
		margin-right: 15px
		display: inline-block
		width: 14px
		height: 14px
		background-image: url(/img/icon/date.svg)
		vertical-align: middle

.news-header
	position: relative
	text-align: center
	text-transform: uppercase
	margin: 30px 0
	h4
		font-family: "playfairdisplaysc", sans-serif
		font-size: 24px
		position: relative
		z-index: 10
		margin: 0
	span
		font-family: "playfairdisplaysc", sans-serif
		position: absolute
		color: #fafafa
		font-size: 48px
		left: 0
		right: 0
		bottom: -10px
		margin: 0 auto

.news-view
	margin-bottom: 65px

.news-widget
	margin: 60px 0

.contact__h1
	text-align: center
	font-size: 18px
	color: $black
	font-weight: bold

.contact__wrapper
	border: 1px solid $border-color
	padding: 20px
	text-align: center

.site-contact
	margin-bottom: 55px

.contact__label
	font-size: 16px
	text-align: center
	margin-top: 30px
	margin-bottom: 30px
	label
		font-weight: 500
		display: block
		color: $black
	a
		color: $black

.main-index
	padding-bottom: 60px

.hamburger
	display: none
	padding: 0
	position: absolute
	left: 0
	width: 24px
	height: 16px
	border: none
	background: none
	span,	&:before, &:after
		display: inline-block
		width: 100%
		height: 2px
		background-color: #fff
		position: absolute
		left: 0
	span
		top: calc(50% - 1px)
	&:before
		content: ""
		top: 0
	&:after
		content: ""
		bottom: 0

#left-menu
	display: none
	position: fixed
	z-index: 10050
	width: 280px
	background-color: $black
	height: 100%
	overflow: auto
	box-shadow: 10px 10px 17px -4px rgba(0,0,0,0.2)
	left: -300px
	padding: 25px

.left-menu__close
	border: none
	background: none
	color: #fff
	font-size: 32px
	font-weight: 300
	position: absolute
	right: 15px
	line-height: 32px
	top: 8px
	&:hover, &:active, &:focus
		color: #fff

.left-menu__item
	padding: 6px 0

.left-menu__link
	color: #fff
	&:hover, &:active, &:focus
		color: $accent_color

.left-menu__category-items
	border-top: 1px solid #fff
	padding-top: 15px

.left-menu__logo
	text-align: center
	margin-bottom: 10px
	img
		width: 100px

.header__category-wrapper
	padding-right: 50px
	position: relative

.category
	padding-bottom: 50px

.btn-filter
	display: none
	background: none
	border: none
	color: $grey
	vertical-align: middle
	.fa
		font-size: 18px
		vertical-align: middle

.wrapper-main-category
	position: relative

.wishlist-index
	padding-bottom: 50px

.product__video
	iframe
		max-width: 100%

.clear
	clear: both

.top5
	padding: 25px 0

.top5__items
	display: flex

.top5__item
	width: 33.333%
	.card
		width: 100%
		margin: 0

.top5__top5__double-item
	width: 33.333%
	position: relative
	.top5__item
		width: 100%
		position: absolute
		height: 50%
		overflow: hidden
		border-bottom: 1px solid $border_color
		&:first-child
			top: 0
			bottom: auto
		&:last-child
			bottom: 0
			top: auto
		.card
			height: 100%
			position: relative
		.card__bottom
			position: absolute
			bottom: -1px
			left: 0
			right: 0
			background-color: #fff

.subscribe
	background-image: url(/img/subscribe.jpg)
	background-size: cover
	background-position-x: right
	position: relative
	padding: 50px 0
	&:before
		content: ""
		display: block
		position: absolute
		left: 0
		top: 0
		height: 100%
		width: 50%
		background-color: rgba($accent_color, .72)

.subscribe__h3
	font-family: "playfairdisplaysc", sans-serif
	text-transform: uppercase
	font-size: 24px
	margin: 0
	margin-bottom: 40px
	color: $black

.subscribe__form
	display: flex
	justify-content: space-between
	position: relative
	input
		border: none
	.form-group
		width: 100%
		margin: 0
		margin-right: 10px

.btn-subscribe
	background-color: #fff
	padding: 6px 25px
	padding-right: 45px
	position: relative
	&:after
		content: "→"
		font-size: 20px
		line-height: 15px
		vertical-align: middle
		position: absolute
		right: 17px
	&:hover
		background-color: $black
		color: #fff

.success
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	text-transform: uppercase
	font-weight: bold
	display: none
	z-index: 10
	span
		margin: auto
	& ~ *
		transition: all .5s ease
	&.active
		& ~ *
			opacity: .5
			filter: blur(10px)

.subscribe__contact
	color: $black
	font-weight: 300
	margin-bottom: 10px
	a
		color: $black
		margin-left: 12px
	&:last-child
		margin: 0

.btn-subscribe-link
	color: $black
	background-color: $accent-color
	vertical-align: middle
	margin-left: 40px
	margin-top: -12px

.subscribe__contact-wrapper
	display: inline-block
	vertical-align: middle
	margin-top: -10px

.checkout__items
	margin-top: 25px

.checkout__item
	text-align: left
	padding: 10px 0
	border-bottom: 1px solid $border_color
	display: flex
	justify-content: space-between

.checkout__photo
	width: 70px
	position: absolute
	left: 0

.checkout__link
	display: inline-block
	color: $grey
	font-weight: 500

.checkout__price
	color: $black
	font-weight: 500
	padding-left: 20px
	white-space: nowrap

.checkout__sizes
	margin-top: 5px

.checkout__sizes-head
	font-weight: bold

.checkout__wrapper
	width: 70%
	padding-left: 80px
	position: relative
	min-height: 105px

.checkout__sizes-item
	white-space: nowrap

.checkout__total
	font-size: 14px
	text-transform: uppercase
	font-weight: bold
	text-align: right
	margin: 15px 0

.cart-bottom__message
	margin-top: 10px
	a
		text-decoration: underline
		cursor: pointer

.pearson__menu-item
	border-bottom: 1px solid $border-color
	&:nth-of-type(1)
		border-top: 1px solid $border-color
	&.active
		.pearson__menu-link
			font-weight: 500

.pearson__menu-link
	color: $black
	display: block
	padding: 14px 0
	font-weight: 300

.person
	padding-bottom: 60px
	th a
		color: $black

.btn-pay
	background-color: $accent-color
	color: $black
	font-weight: 300
	margin-top: 5px
	padding: 2px 18px
	border-radius: 20px;
	display: inline-block

.btn-pay-delete
	background-color: $border-color

.order__items
	border-top: 1px solid $border-color

.order__item
	border-bottom: 1px solid $border-color
	padding: 15px

.order__number
	font-weight: bold
	font-size: 16px

.order__info
	margin-top: 10px
	li
		color: $grey
		span
			color: $black
			margin-left: 10px
			display: inline-block
			padding: 1px 0

.order__item
	.checkout__item
		border: none
	.checkout__price
		padding-left: 0
		font-weight: normal
		text-align: left

.payment-index
	padding-bottom: 50px
	text-align: center

.payment__btn
	display: inline-block
	border: 1px solid $border-color
	border-radius: 8px
	background-size: 100% auto
	background-repeat: no-repeat
	background-position: center

.payment__items
	margin-top: 25px
	text-align: center

.payment__item
	display: inline-block
	margin: 10px 15px

.btn-paypal
	width: 224px
	height: 130px
	background-image: url(/img/paypal.jpg)

.btn-liqpay
	width: 224px
	height: 130px
	background-image: url(/img/liqpay.png)

.pay_info
	margin-bottom: 25px

.pay_info__number
	font-weight: bold
	font-size: 16px

.pay_info__text
	color: $grey
	margin: 10px 0
	span
		white-space: nowrap
		color: $black
		font-weight: 500

.profile-form
	margin-bottom: 20px

.payment-success
	margin-bottom: 40px
	img
		max-width: 100%

.payment-success__h1
	font-size: 24px
	font-family: "playfairdisplaysc", sans-serif
	margin-top: 0
	text-transform: uppercase

.payment-success__text
	margin-top: 20px
	margin-bottom: 50px

.btn-multiple
	padding: 0
	width: 33px
	line-height: 33px
	text-align: center
	.glyphicon
		top: 0
		left: 1px

.addresses-form
	width: 100%
	max-width: 100%
	border: none
	padding: 0
	.main-form__h1
		margin-bottom: 14px
	.main-form__btn
		width: auto

.select2-selection
	border-radius: 30px!important

.select2-container--krajee .select2-selection--single .select2-selection__arrow
	border-left: none

.multiple-input-list__item
	td
		width: 32%

.paypal
	background-image: url(/img/paypal.png)
	background-size: 100% auto
	background-repeat: no-repeat
	width: 200px
	height: 41px
	display: block
	margin: 0 auto

.payment__not-support
	width: 220px

.payment__item
	vertical-align: top

.site-error
	margin-bottom: 60px

.error__h1
	text-align: center
	font-size: 24px
	margin-bottom: 20px

.error-404
	text-align: center
	position: relative
	img
		max-width: 100%

.error-404__text1
	font-weight: 500
	font-size: 48px

.error-404__text2
	color: #ba7878
	font-size: 22px
	font-weight: 300

.error-404__text3
	font-weight: 300
	color: $grey

.error-404__text
	position: absolute
	top: 30px
	left: 0
	right: 0
	margin: 0 auto

.news-view
	img
		max-width: 100%!important
		height: auto!important

.cookie
	position: fixed
	bottom: 0
	z-index: 2000
	width: 100%
	background-color: rgba($accent_color, .95)
	padding: 18px
	color: $black
	text-align: center
	box-shadow: 0 10px 17px 4px rgba(0,0,0,.2)
	display: none

.cookie__link
	color: $black
	text-decoration: underline

.cookie__text
	display: inline-block
	margin: 0
	margin-bottom: 8px

.cookie__btn
	background-color: #fff
	text-transform: none
	font-size: 12px
	height: 25px
	padding: 2px 18px
	margin: 0 20px

@keyframes contact
	80%
		opacity: 0
	100%
		opacity: 1

#contact_btn
	opacity: 0
	animation: contact 2s linear forwards
	transition: width 500ms
	width: 48px
	height: 48px
	border-radius: 48px
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .24)
	background-image: url(/img/icon/chat.svg)
	background-repeat: no-repeat
	background-position: center right 10px
	background-size: 30px
	position: fixed
	right: 48px
	bottom: 100px
	border: none
	background-color: $accent_color
	overflow: hidden
	z-index: 1040
	span
		width: 250px
		overflow: hidden
		opacity: 0
	&:hover
		width: 248px
		overflow: visible
		span
			opacity: 1
			transition: opacity 500ms ease-in-out 100ms

#modal-contact
	.modal-content
		border: 5px solid $accent_color
	.close
		span
			font-size: 32px
			font-weight: 400
	.success
		text-transform: none
		font-weight: normal
		text-align: center
		padding: 20px

.type-size__input
	border: 1px solid $border_color
	height: 33px
	color: $black
	padding: 0 20px
	background: none
	outline: none
	width: 285px

.table-size
	display: none

.cart-sizes
  span
    text-decoration: underline
    font-weight: bold

.modal-dialog
	max-width: 90%

.modal-body
	overflow-x: auto

.number-size
  display: none

.alert-modal
	.modal-content
		border: 6px solid $accent_color
	.modal-header
		padding: 0 10px
		padding-top: 20px
	.modal-body
		padding-bottom: 40px
	.alert
		border: none
		padding: 0
		font-size: 16px

.header__category-submeny
	background-color: #fff
	padding: 15px 40px
	padding-bottom: 25px
	left: 0
	right: 0
	top: 52px
	margin: 0
	border-radius: 0
	column-count: 3
	max-height: 320px
	li
		a
			padding: 0
			color: #000
			transition: color .3s
			line-height: 38px
			&:hover
				color: darken($accent_color, 40%)
				background: none

.left-menu__submenu
	padding: 6px 0
	padding-left: 18px






@import "media";