.preload {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255,255,255,.5);
	z-index: 50000;
	justify-content: center;
	align-items: center;
	display: none;
}

.note {
	margin-bottom: 15px;
}

.preload.active {
	display: flex;
}

.lds-circle {
	display: inline-block;
	transform: translateZ(1px);
	position: absolute;
}
.lds-circle > div {
	display: inline-block;
	width: 250px;
	height: 250px;
	animation: lds-circle 3.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	background-image: url(/img/icon/Etsy_logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}
@keyframes lds-circle {
	0%, 100% {
		animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(1800deg);
		animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
	}
	100% {
		transform: rotateY(3600deg);
	}
}

