@font-face{font-family:roboto;font-style:normal;font-weight:400;src:url(../fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoRegular/RobotoRegular.woff2) format("woff2"),url(../fonts/RobotoRegular/RobotoRegular.woff) format("woff"),url(../fonts/RobotoRegular/RobotoRegular.ttf) format("truetype"),url(../fonts/RobotoRegular/RobotoRegular.svg#roboto) format("svg")}@font-face{font-family:roboto;font-style:normal;font-weight:100;src:url(../fonts/RobotoThin/RobotoThin.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoThin/RobotoThin.woff2) format("woff2"),url(../fonts/RobotoThin/RobotoThin.woff) format("woff"),url(../fonts/RobotoThin/RobotoThin.ttf) format("truetype"),url(../fonts/RobotoThin/RobotoThin.svg#roboto) format("svg")}@font-face{font-family:roboto;font-style:normal;font-weight:300;src:url(../fonts/RobotoLight/RobotoLight.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoLight/RobotoLight.woff2) format("woff2"),url(../fonts/RobotoLight/RobotoLight.woff) format("woff"),url(../fonts/RobotoLight/RobotoLight.ttf) format("truetype"),url(../fonts/RobotoLight/RobotoLight.svg#roboto) format("svg")}@font-face{font-family:roboto;font-style:normal;font-weight:500;src:url(../fonts/RobotoMedium/RobotoMedium.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoMedium/RobotoMedium.woff2) format("woff2"),url(../fonts/RobotoMedium/RobotoMedium.woff) format("woff"),url(../fonts/RobotoMedium/RobotoMedium.ttf) format("truetype"),url(../fonts/RobotoMedium/RobotoMedium.svg#roboto) format("svg")}@font-face{font-family:roboto;font-style:normal;font-weight:700;src:url(../fonts/RobotoBold/RobotoBold.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoBold/RobotoBold.woff2) format("woff2"),url(../fonts/RobotoBold/RobotoBold.woff) format("woff"),url(../fonts/RobotoBold/RobotoBold.ttf) format("truetype"),url(../fonts/RobotoBold/RobotoBold.svg#roboto) format("svg")}@font-face{font-family:roboto;font-style:normal;font-weight:900;src:url(../fonts/RobotoBlack/RobotoBlack.eot?#iefix) format("embedded-opentype"),url(../fonts/RobotoBlack/RobotoBlack.woff2) format("woff2"),url(../fonts/RobotoBlack/RobotoBlack.woff) format("woff"),url(../fonts/RobotoBlack/RobotoBlack.ttf) format("truetype"),url(../fonts/RobotoBlack/RobotoBlack.svg#roboto) format("svg")}@font-face{font-family:playfairdisplaysc;font-style:normal;font-weight:700;src:url(../fonts/PlayfairDisplaySCBold/PlayfairDisplaySCBold.eot?#iefix) format("embedded-opentype"),url(../fonts/PlayfairDisplaySCBold/PlayfairDisplaySCBold.woff2) format("woff2"),url(../fonts/PlayfairDisplaySCBold/PlayfairDisplaySCBold.woff) format("woff"),url(../fonts/PlayfairDisplaySCBold/PlayfairDisplaySCBold.ttf) format("truetype"),url(../fonts/PlayfairDisplaySCBold/PlayfairDisplaySCBold.svg#playfairdisplaysc) format("svg")}
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.color {
    width: 120px;
    height: 25px;
    box-shadow: 0 10px 27px -4px rgba(0,0,0,.2);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


#collapseDiscount{
    max-height: 250px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
    height: auto!important;
}

.order__date{
    color: #817f7f;
    margin-bottom: 3px;
}

.order__index{
    padding: 15px 20px;
}

.order__head{
    color: #817f7f;
}

dl{
    margin-bottom: 8px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
}

.order__note{
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin: 15px 0;
    padding: 10px 5px;
}

.order__note .order__head{
    display: block;
    margin-bottom: 5px;
}

.order__items{
    list-style: none;
    padding: 0;
}

.order__item{
    margin-bottom: 10px;
}

.order__wrapper{
    position: relative;
    padding-left: 80px;
    min-height: 105px;
}

.order__photo{
    width: 70px;
    position: absolute;
    left: 0;
}

.order__link{
    display: inline-block;
    color: #898989;
    font-weight: bold;
}

.order__products .order__head{
    display: block;
    margin-bottom: 10px;
}

.order__logs{
    list-style: none;
    padding: 0;
}

.order__log{
    display: inline-block;
    margin: 10px 0;
    margin-right: 20px;
    text-align: center;
    border: 1px solid #28a745;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    position: relative;
}

.order__log:after{
    content: "";
    height: 1px;
    width: 26px;
    display: inline-block;
    background-color: #28a745;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -26px;
    margin: auto 0;
}

.order__log:last-child{
    margin-right: 0;
}

.order__log:last-child:after{
    display: none;
}

#tracking-btn{
    display: inline-block;
    margin-top: 27px;
}

















